@charset "utf-8";

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Passion+One&display=swap);

body {
    background-color: white;
 
}




.cabeça {
    min-height: 0vh;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
    display: block;
    padding: 50px 30px 20px 60px;
    margin: -64px -120px 0px -60px;
    
}

#textoimg1 {

    
}

.p1 {
    font-size: 3em;
    
}

.p2 {
    background-color: rgb(248, 248, 248);
    background-image: url('imagens/background001.jpg');
    background-position: center center ;
    background-repeat: no-repeat;
    font-size: 4em;
    font-size: cover ;
    background-attachment: fixed;
    
 
}

.p3{
    font-size: 3em;

}

.p4 {
    background-position: center center ;
    background-repeat: no-repeat;
    font-size: 4em;
    font-size: cover ;
    background-attachment: fixed;
    background-image: url('imagens/background002.jpg');
   

}
.img1 {
    background-color: rgba(0, 0, 0, 0.795);
    font-size: 2em;
    display: block;
    margin: -20px -20px -20px -20px;
    padding: 50px 30px 20px 60px; 


}

.p5 {
    font-size: 3em;

}
.rodapé {
    text-align: center;
    font-size: 2em;
}
